##导入宏定义
$!{define.vm}

##使用宏定义设置回调（保存位置与文件后缀）
#saveFile("/model/dto","$!{tableInfo.name}DTO", ".java")

##使用宏定义设置包后缀
#setPackageSuffix("model.dto")

##使用全局变量实现默认包导入
$!autoImport
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

import java.util.Date;
import lombok.EqualsAndHashCode;
import $!{tableInfo.savePackageName}.boot.restful.BaseID;

##使用宏定义实现类注释信息
#tableComment("实体类")
@EqualsAndHashCode(callSuper = true)
@ApiModel("$!{tableInfo.comment}新增修改DTO")
@Data
public class $!{tableInfo.name}DTO extends BaseID{
#foreach($column in $tableInfo.fullColumn)
    #if(!($column.name.equals("id"))&& !($column.name.equals("createTime"))&&!($column.name.equals("updateTime")))
        @ApiModelProperty(value = "$!{column.comment}")
        private $!{tool.getClsNameByFullName($column.type)} $!{column.name};
    #end
#end


}
