<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.example.mapper.ScmCmsVideoTypeMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.example.entity.ScmCmsVideoType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pid" jdbcType="BIGINT" property="pid" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
</mapper>