<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.example.mapper.ScmMaterialLibraryMapper">
    <resultMap id="BaseResultMap" type="com.example.demo.example.entity.ScmMaterialLibrary">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="evaluation_type" jdbcType="CHAR" property="evaluationType"/>
        <result column="cover" jdbcType="VARCHAR" property="cover"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="aite" jdbcType="TINYINT" property="aite"/>
        <result column="auth_status" jdbcType="INTEGER" property="authStatus"/>
        <result column="description" jdbcType="LONGVARCHAR" property="description"/>
        <result column="video_url" jdbcType="LONGVARCHAR" property="videoUrl"/>
        <result column="pic_url" jdbcType="LONGVARCHAR" property="picUrl"/>
    </resultMap>
</mapper>